# .dockerignore

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
*.env
.venv/

# IDE configuration files
.idea/
.vscode/

# Logs
*.log

# Docker-related files
Dockerfile.*
docker-compose.yml

# Build artifacts
build/
dist/
*.egg-info/

# Database
db.sqlite3

# Folders
docs/

# Files
*.md
Makefile